<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "HTML5 Boilerplate" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'vendor/modernizr-2.6.1.min.js' %>
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="chromeframe">您使用的瀏覽器已經太舊了。 <a href="http://browsehappy.com/">請選擇您喜歡的現代瀏覽器</a> 或是 <a href="http://www.google.com/chromeframe/?redirect=true">安裝 Google Chrome Frame</a> 以確保您能夠擁有更美好的瀏覽體驗。</p>
    <![endif]-->

<%= partial "partials/header" %>

<%= yield %>

<%= partial "partials/footer" %>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag 'plugins' %>
<%= javascript_include_tag 'main' %>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<%= partial "partials/GA" %>
  </body>
</html>
